<%- include('./partials/header.ejs') %>
	<div class="center">
    	<h1>Welcome to 99 Bottles of Express Beer, <%= name %>!</h1>
    	<a href="/bottles/99" class="neon-button" >Start drinking!</a>
    </div>
<%- include('./partials/footer.ejs') %>