<%- include('./partials/header.ejs') %>
	<div class="center">
		
		<h1>Blog Posts</h1>

		<div class="blog">
    		<p><%= text %></p>
    		<p id="author">Posted by: <%= author %></p>
    	</div>

    </div>
<%- include('./partials/footer.ejs') %>